body {
  background-color: #f5f5f3; 
  margin: 0;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 900px;
}

a {
  text-decoration: none;
  color: #666;
}

.header_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn,
.post {
  letter-spacing: 2px;
  padding: 8px 20px;
  margin-left: 20px;
  font-size: 14px;
  color:white;
  background-color: brown;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  display: inline-block;
}

.header {
  padding: 10px;
  border-bottom: 1px solid #D8D8D8;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 62px;
}

.header-title {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 41px;
  float: left;
}

.user_info a {
  font-size: 14px;
  letter-spacing: 1px;
}

.contents.row .content_post {
  margin: 20px 0 40px 0;
  padding: 15px;
  height: 100%;
  font-size: 15px;
  border: 1.5px solid #58575a38;
}

.content_image {
  padding: 10px;
}

.item-img {
  width: 37vh;
  height: 50vh;
}

.content_footer {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.book_mark {
  height: 45px;
  width: 100%;
  padding: 10px 10px 10px 20px;
}

.like-link {
  text-decoration: none;
}

.like-link:hover {
  background-color: #fff;
}

.like-btn {
  font-size: 15px;
  color: #808080;
}
 
.unlike-btn {
  font-size: 15px;
  color: #e54747;
}

.more {
  height: 45px;
  width: 180px;
  padding: 10px;
  text-align: center;
}

.more_list {
  display: flex;
}

.more_list a{
  font-size: 15px;
  padding-right: 15px;
}
.review-star {
  height: 50px;
  display: flex;
}

.content_title,
.content_genre {
  margin: 10px 10px;
  padding: 10px;
  height: 100%;
  font-size: 20px;
  border: black;
  border: 1.5px solid #58575a38;
}

.content_text {
  margin: 10px 10px 20px 10px;
  padding: 10px;
  height: 100%;
  font-size: 15px;
  border: 1.5px solid #58575a38;
}

.genre-select{
  height: 40px;
  width: 250px;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic"
}

.form-wrap {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 80px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

.title-frame {
  color: #666;
  height: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 25px;
  font-weight: 550;
  letter-spacing: 10px;
}

.form-group {
  width: 60%;
  margin: 0 auto;
  padding: 30px 0;
}

.form-text {
  color: #666;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
}

.form-image {
  background-color: white;
  border: 1px solid rgb(118, 118, 118);
}

.form-image-box {
  padding: 10px;
}

.form-box {
  width: 100%;
  height: 45px;
}

#input-text {
  height: auto;
}

.form-star-wrap {
  color: #666;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 3px;
}

.submit {
  text-align: center;
}

.submit-btn {
  width: 200px;
  padding: 15px 40px;
  font-weight: bold;
  font-size: 16px;
  background-color: brown;
  color: white;
  border: solid 2px brown;
  border-radius: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
}

.container {
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: #666;
}

.comments h4{
  padding-bottom: 10px;
  margin-top: 30px;
}

.comment_subject{
  padding-bottom: 15px;
}

.comment_name {
  margin: 0;
  padding-bottom: 5px;
}

.comment_text{
  border: 1px solid #aaa;
  border-radius: 0.5em;
  padding: 10px;
}
.comment_submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment_content {
  width: 60%;
  height: 60px;
  border-radius: 10px;
}

.send_btn {
  width: 130px;
  height: 50px;
  margin-left: 20px;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  background-color: brown;
  color: white;
  border: solid 2px brown;
  border-radius: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
}

.comments a {
  color: #666;
}

.comments a:hover {
  text-decoration: underline;
  color: brown;
}

.action{
   width: 50px;
  margin-left: auto;
}

footer {
  margin: 30px auto;
  padding: 10px;
  color: #D8D8D8;
}

footer p {
  text-align: center;
}

@media (max-width: 560px) {
  .header-title {
    font-size: 15px;
    line-height: 41px;
    float: left;
  }
  .user_info a {
    font-size: 7px;
    letter-spacing: 1px;
  }

  .post {
    width: 70px;
    padding: 5px;
  }

  .content_title,
  .content_genre {
    font-size: 15px;
  }
  .content_text,
  .content_footer,
  .more_list a   {
    font-size: 12px;
  }

  .submit-btn {
    width: 150px;
    font-size: 13px;
}

  .send_btn {
    width: 70px;
    font-size: 12px;
  }

  .comment_title {
    font-size: 15px;
    padding-bottom: 10px;
    margin-top: 15px;
  }
}

@media (max-width: 350px) {
  .user_info a {
    font-size: 3px;
  }
  .post {
    width: 70px;
    padding: 3px;
  }

  .media-350 {
    display: block;
  }
}
