<% @reviews.each do |review| %>
  <div class="contents row">
     <div class="content_post">
        <%= render 'review', review: review %>
           <div id="review_<%= review.id %>">
               <%= render 'book', review: review %>
           </div>
      </div>
  </div>
<% end %>

