<% @reviews.each do |review| %>
  <div class="contents row">
    <div class="content_post">
      <div id="review_<%= review.id %>">
        <%= render 'review', review: review %>
        <%= render 'content_footer', review: review %>
      </div>
    </div>
  </div>
<% end %>

