<div class="contents row">
  <div class="content_title">
    <%= @review.title %>
  </div>
  <div class="content_text">
    <%= @review.text %>
  </div>

  
  <div class="more">
    <div class="more_list">
     <% if user_signed_in? && current_user.id == @review.user.id %>
       <%= link_to 'Edit', edit_review_path(@review.id), method: :get %>
       <%= link_to 'Deleate', review_path(@review.id), method: :delete %>
     <% end %>
    </div>
  </div>
</div>